@import "src/scss/variables";

.line {
  display: none;
  @media screen and (max-width: 550px) {
    display: block;
    height: 1px;
    margin: 0 20px 20px 20px;
    background-color: $colorLine;
  }
}
