$backgroundPage:#F4F5F9;
$colorText: rgba(66, 86, 122);
$colorRound: rgba(66, 86, 122, 0.5);
$colorLine: rgba(66, 86, 122, 0.25);
$colorSmallRound: rgba(48, 62, 88, 0.5);
$colorLineHover: rgba(66, 86, 122, 0.75);
$colorDatePurple: #5D5FEF;
$colorDatePink: #EF5DA8;
$colorDateBlue: #3877EE;
$gradient:linear-gradient(180deg, rgba(56, 119, 238, 1) 0%, rgba(239, 93, 168, 1) 100%);

//:export {
//  backgroundPage: $backgroundPage;
//  lightColor:$light-color;
//  whiteColor: $white-color;
//  errorColor: $error-color;
//}

