@import "src/scss/variables";


.slider {
  position: relative;
  padding: 0 80px;
}

.prevButton {
  position: absolute;
  left: 20px;
  top: 50px;
}

.nextButton {
  position: absolute;
  right: 20px;
  top: 50px;
}


